.app {
  padding: 20px 40px;

  > header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
  }
  > main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
}
